img {
    width: 5.5em;
    height: 5.5em;
    overflow: hidden;
    margin: .5em;
    border: 1.2px solid #a1a1a1;
    border-radius: 3px;

    cursor: pointer;
}

button {
    font-size: .8em;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 10px;
    
    &:hover {
        border: 1px solid #777;
        border-bottom: 1px solid #aaa;
    }
}

.item-wrapper {
    display: flex;
    background-color: #FCFFF4;
    border: 1.2px solid #a1a1a1;
    margin: .6em;
    border-radius: 3px;
}