.ticket {
    border: 1.2px solid #a1a1a1;
    border-radius: 3px;
    margin: 1em;
    padding: 1em;
    width: 50em;
    margin-left: -15px;
}

.date_id {
    display: flex;
    justify-content: space-between;
}