.container {
    display: flex;
    padding: 3em;
}

.result {
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
    color: #565656;
    font-weight:550;
}

.products {
    width: 70%;
}