<app-navbar></app-navbar>
<div class="container">
  <div class="selection-boxes">
    <h3>Sort By: </h3>
    <form *ngIf="loaded">
      <select (change)="onBrandChange($event)">
        <option value="">(Brand)</option>
        <option *ngFor="let item of brands" value="{{item}}">{{item}}</option>
      </select>
      <select (change)="onCategoryChange($event)">
          <option value="">(Category)</option>
          <option *ngFor="let item of categories" value="{{item}}">{{item}}</option>
      </select>
    </form>
  </div>
  <div class="products">
    <app-item *ngFor="let prod of products" [product]="prod"></app-item>
  </div>
</div>